body{
    background: hsl(0, 0%, 100%)100%, 100%;
}

#imagen1 {
    border-radius: 50px;
    width:250px;
    margin:20px;
    height: 250px; 
}

#imagen2 {
    border-radius: 50px;
    width:250px;
    margin:20px;
    height: 250px; 
}
