<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1 class="ms-5">Asia Travel Fest</h1>
        </div>
        <div class="col-1"></div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="fs-4 ms-5">
                    With unbeatable airfare deals from Connecting Air&lt;Lines&gt;, you can dive in to the culture and
                    adventure without
                    going
                    beyond your travel budget. It’s your year to discover your passions and explore the world, and
                    what
                    better way to kick off your travel than with a Premium flight? We believe that incredible
                    travel
                    experiences shouldn’t come with a high price tag. Let your daydreams become your reality and
                    work
                    smarter, not harder, to find the best flight by booking with Connecting Air&lt;Lines&gt;.
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="row d-flex justify-content-evenly ">
            <div class="col-3">
                <div class="card">
                    <img src="https://cdn.i-scmp.com/sites/default/files/styles/700x400/public/d8/images/canvas/2023/03/10/21732a4e-c307-471b-89a9-71269a70f071_ed43e633.jpg?itok=wGCY0uO5&v=1678425693"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mount Fuji, Japan</h5>
                        <p class="card-text">
                            Plane ticket options (Return) <br>
                            Premium/ First class: $999 usd <br>
                            Economy: $699 usd<br>
                            Next flight Date: <br>
                            Departure 15/11/2023 - Return 29/11/2023.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="https://image.arrivalguides.com/700x400/12/d46a49788b0b6175c2211622d41c9c1e.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Busan, South Korea</h5>
                        <p class="card-text">
                            Plane ticket options (Return) <br>
                            Premium/ First class: $899 usd <br>
                            Economy: $599 usd<br>
                            Next flight Date: <br>
                            Departure 16/11/2023 - Return 30/11/2023.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="https://www.vietnamstay.com/DataUpload/Attractions/201932822432-bangkok-overview-aerial-view-2.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bangkok, Thailand</h5>
                        <p class="card-text">
                            Plane ticket options (Return) <br>
                            Premium/ First class: $799 usd <br>
                            Economy: $499 usd<br>
                            Next flight Date: <br>
                            Departure 16/11/2023 - Return 01/12/2023.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>